<%- include('../partials/header.ejs') -%>

<% if (message.length > 0) { %>
  <div class="alert alert-success">
    <%= message %>
  </div>
<% } %>
<!-- Header Section -->
<div class="container">
  <div class="row">
    <div class="header-heading mt-5">
      <h2 style="font-weight: 600;">BlogStreet Blogs</h2>
      <h3>Get Quality Tips & Insights To Your Inbox</h3>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <img
        class="size-user"
        src="../../src/stylesheets/blog-2.png"
        alt="Card image cap"
      />
    </div>
    <div class="col mt-5">
      <div class="header-content">
        <!-- <small>Most Popular</small> -->
        <h2>Embrace the power of <br><strong style="font-size: 100%; text-decoration: underline;">Story-telling</strong>.</h2>
        <p>
          Real ideas require real stories. If you want to inspire people around you, story-telling is one of the most productive ways.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Blog content section -->
<div class="container">
  <div class="row mt-5" style="width: 50%; margin: 0 25%">
    <a style="background-color: #6C63FF; width: 80%; margin-left: 10%;" href="/articles/new" class="btn btn-primary">Start writing your blog here</a>
  </div>

<!-- Search bar & Tabs -->
<div id="stories" class="container">
  <div class="row">
    <div class="mt-5">
      <ul class="nav nav-tabs">
        <li class="nav-item nav-user">
          <a style="color: #6C63FF;" class="nav-link active" aria-current="page" href="#">Recent Blogs</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% articles.forEach(article => { %>
    <div class="col-md-6 col-lg-4 mt-5">
      <div class="card card-user" style="width: 20rem; margin: 0 auto;">
        <img class="card-img-top" src="<%= article.image %>" alt="image" />
        <!-- https://images.unsplash.com/photo-1614588108027-22a021c8d8e1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80 -->
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <div class="card-subtitle text-muted mb-2">
            <small><%= article.createdAt.toLocaleDateString() %></small>
          </div>
          <p class="card-text"><%= article.description %></p>
          <a style="background-color: #6C63FF;" href="articles/<%= article.id %>" class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
</div>

<!-- Pagination -->
<!-- <div class="container">
  <div class="row mt-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
            >Previous</a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<!-- Brag section -->
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="brag-user">
        <!-- <small>Most Popular</small> -->
        <h2>Blogging is very important for your business.</h2>
        <p>
          Drive traffic to your website by writing here and connecting with our thousands of valuable readers.
        </p>
        <button style="background-color: #6C63FF;" type="button" class="btn btn-primary"><a style="color: white; text-decoration: none;" href="#stories">Read Stories</a></button>
      </div>
    </div>
    <div class="col">
      <img
        class="size-user-two"
        src="../../src/stylesheets/blog-1.png"
        alt="Card image cap"
      />
    </div>
  </div>
</div>

<!-- Newsletter section -->
<div class="container mt-5">
  <div class="row">
    <div class="header-heading">
      <h3>Stay updated with our Newsletter</h3>
      <h3>Join Now!</h3>
    </div>
  </div>
  <div class="row mt-4">
    <form action="#" class="d-flex newsletter">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Enter Your Email"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Subscribe</button>
    </form>
    <div class="form-check newsletter-checkbox mt-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        We will send you insightful stories, and news. <br>You can
        Unsubscribe anytime.
      </label>
    </div>
  </div>
</div>

<!-- FAQ -->
<div id="faq" class="container margin-user">
  <div class="row mb-3">
    <h1 class="faq-heading">FAQ</h1>
  </div>
  <div class="row">
    <div style="width: 80%; margin-left: 10%;" class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Where to contact in case of issues?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Raise an issue at Github here: <strong>https://github.com/pratik-sahu-au13/BlogStreet/issues</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Who can join BlogStreet?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Anybody...
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Can I edit or delete my blog posts?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Yes, for that you have to login.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Can I report posts, comments and users who don't follow Code of
            Conduct?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Just contact us and we will take action.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            How can I change my username?
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Currently we donot support changing usernames. Contact us regarding that.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            Can I be a paid member in BlogStreet?
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="headingSix"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            In future you can be a paid member.
          </div>
        </div>
      </div>
      <div class="accordion-item mb-5">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            Where's BlogStreet's privacy policies and terms of conditions?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Source code and documents related to BlogStreet is available at Github: <strong>https://github.com/pratik-sahu-au13/BlogStreet</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') -%>
