<%- include('../partials/header.ejs') -%>

<!-- <div class="container">
  <h1 class="mb-1"><%= article.title %></h1>
  <div class="text-muted mb-2">
    <%= article.createdAt.toLocaleDateString() %>
  </div>
  <a href="/" class="btn btn-seconday">All Articles</a>
  <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

  <div><%= article.markdown %></div>
</div> -->
<style>
  .blog-content {
    padding: 0 8%;
  }

  .blog-content .content-right {
    float: right;
  }

  .lists {
    padding-left: 5%;
    padding-top: 1%;
  }

  .blog-image {
    height: 500px;
    object-fit: cover;
  }

  .stand-out {
    font-weight: 600;
  }


</style>

<% if (message.length > 0) { %>
  <div class="alert alert-success">
    <%= message %>
  </div>
<% } %>
<div class="container">
  <div class="row mt-4 blog-content">
    <h2 class="stand-out"><%= article.title %></h2>
  </div>
  <div class="row mt-3 blog-content">
    <div class="col">
      <small>Created by</small>
      <h5 class="stand-out"><%= (article.author).charAt(0).toUpperCase() + (article.author).slice(1) %></h5>
    </div>
    <div class="col">
      <div class="content-right">
        <small>Published on</small>
        <h5 class="stand-out"><%= article.createdAt.toLocaleDateString() %></h5>
      </div>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <img src="<%= article.image %>" alt="image" class="blog-image" />
  </div>
  <div class="row mt-3 blog-content">
    <!-- <h4>Steps to Follow :</h4>
    <ol class="lists">
      <li>Be Passionate.</li>
      <li>Start While You Are Still Employed.</li>
      <li>Don't Do it Alone.</li>
      <li>Get Clients or Customers Lined Up.</li>
      <li>Write a Business Plan.</li>
      <li>Do Your Research.</li>
    </ol> -->
    <p><%- article.sanitizedHtml %></p>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row mt-3 blog-content">
    <h2 class="stand-out">Comments</h2>
  </div>
  <div class="row mt-3 blog-content">
    <form action="/articles/<%= article._id %>/comments" method="POST">
      <textarea style="width: 100%; height: 100px; display: block;" name="content" cols="91" rows="10" placeholder="Add comments here..." required></textarea>
      <button style="background-color: #6C63FF;" type="submit" class="btn btn-primary mt-3">Post</button>
    </form>
  </div>
  <hr>
</div>

<div class="container">
  <div class="row mt-5 blog-content">
    <% article.comments.forEach(comment => { %>
    <div class="mb-2">
      📛 <span style="display: inline;"><em><%= (comment.author).charAt(0).toUpperCase() + (comment.author).slice(1) %></em></span> ◾ <small><%= comment.createdAt.toLocaleDateString() %></small>
      <p>➡️ <%= comment.content %></p>
      <% if (foundAuthor != null) { %> 
      <% if (foundAuthor.role === 'Admin') { %>
      <form style="float: left;" action="/articles/<%= article.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete comment</button>
      </form>
      <% } %>
      <% } %>
    </div>
    <% }) %>
  </div>
  <hr>
</div>

<% if (user && foundAuthor != null) { %>
  <div class="container">
    <div class="row mt-5 mb-2 blog-content">
      <div style="float: left;">
        <a href="<%= article.id %>/edit" class="btn btn-info">Edit Blog</a>
      </div>
    </div>
    <div class="row mb-5 blog-content">
        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete Blog</button>
        </form>
    </div>
  </div>
<% } %>

<%- include('../partials/footer.ejs') -%>
